.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.info {
  display: none;
  padding-bottom: 0.5rem;
}

.info.visible {
  display: unset;
}
