.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main.hide {
  display:none;
}

.main > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.buttonRow {
  display: flex;
  justify-content: end;
}

.buttonRow > :global(.mibreit_CookieConsent_Button) {
  width: 100%;
}

.info {
  display: none;
  padding-bottom: 0.5rem;
}

.info.visible {
  display: unset;
}