.setter {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svgContainer {
  display: contents;
}

.setter > span {
  flex-grow: 1;
}

.setter svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}