.toggleButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
}

.toggleButton span {
  position: absolute;
  background-color: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.toggleButton span::before {
  background-color: white;
  border-color: #ccc;
  border-style: solid;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
}

input:checked + span {
  background-color: rgb(10, 117, 189);
}

input:checked + span::before {
  transform: translateX(100%);
  border-color: rgb(10, 117, 189);
}

.toggleButton input {
  display: none;
}
